<div class="row">
  <div class="col text-center">
    <h2>Stats by Country</h2>
  </div>
  <table class="table table-bordered table-responsive">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Total Cases</th>
      <th scope="col">New Cases</th>
      <th scope="col">Total Deaths</th>
      <th scope="col">New Deaths</th>
      <th scope="col">Total Recovered</th>
      <th scope="col">Active Cases</th>
      <th scope="col">Sirious Cases</th>
      <th scope="col">Tot Cases / 1M pop</th>
      <th scope="col">Deaths / 1M pop</th>
      <th scope="col">Total Tests</th>
      <th scope="col">Tests / 1M pop</th>
      <th scope="col">Population</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>USA</td>
      <td>27,897,214</td>
      <td>483,200</td>
      <td>17,827,323</td>
      <td>9,586,691</td>
      <td>21,018</td>
      <td>83,979</td>
      <td>1,455</td>
      <td>328,475,246</td>
      <td>328,475,246</td>
      <td>328,475,246</td>
      <td>988,808</td>
      <td>332,193,277</td>
    </tr>
    </tbody>
  </table>
</div>
