<!--suppress HtmlFormInputWithoutLabel -->
<div class="row">
  <div class="col-12 col-md-8 text-center text-md-left">
    <h2>Stats by Country</h2>
  </div>
  <div class="col-12 col-md-4 input-group mb-3">
    <input
        [(ngModel)]="searchKeyword"
        (ngModelChange)="onCountrySearch()"
        type="text"
        class="form-control"
        placeholder="Search">
  </div>
  <table class="table table-bordered table-responsive">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Total Cases</th>
      <th scope="col">New Cases</th>
      <th scope="col">Total Deaths</th>
      <th scope="col">New Deaths</th>
      <th scope="col">Total Recovered</th>
      <th scope="col">Active Cases</th>
      <th scope="col">Sirious Cases</th>
      <th scope="col">Tot Cases / 1M pop</th>
      <th scope="col">Deaths / 1M pop</th>
      <th scope="col">Total Tests</th>
      <th scope="col">Tests / 1M pop</th>
      <th scope="col">Population</th>
    </tr>
    </thead>
    <tbody class="text-right">
    <tr *ngFor="let countryStat of countryStats; let i = index" [class.bg-green]="countryStat.active == 0">
      <th class="text-muted font-weight-normal" scope="row">
        {{ i + 1 }}
      </th>
      <td class="text-left">
        <a routerLink="country/{{ countryStat.countryInfo.iso3 }}">{{ countryStat.country }}</a>
      </td>
      <td>{{ countryStat.cases | number }}</td>
      <td [ngClass]="{'bg-warning': countryStat.todayCases > 0}">
        {{
          countryStat.todayCases > 0 ? ('+' + countryStat.todayCases): ''
        }}
      </td>
      <td>{{ countryStat.deaths | number }}</td>
      <td class="text-white" [class.bg-danger]="countryStat.todayDeaths > 0">
        {{
          countryStat.todayDeaths > 0 ? ('+' + countryStat.todayDeaths): ''
        }}
      </td>
      <td>{{ countryStat.recovered | number }}</td>
      <td>{{ countryStat.active | number }}</td>
      <td>{{ countryStat.critical | number }}</td>
      <td>{{ countryStat.casesPerOneMillion | number }}</td>
      <td>{{ countryStat.deathsPerOneMillion | number }}</td>
      <td>{{ countryStat.tests | number }}</td>
      <td>{{ countryStat.testsPerOneMillion | number }}</td>
      <td class="text-info">{{ countryStat.population | number }}</td>
    </tr>
    </tbody>
  </table>
</div>
