<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID19-Dashboard</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand text-success" href="#"><b>COVID19-Dashboard</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                Corovavirus
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-info text-center p-3">
        <b>
          <i class="fa fa-bar-chart"></i>
          You can get all info about coronavirus in our website
        </b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-info text-center">
        <i class="fa fa-clock-o"></i> Last refresh time: January 1st
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h2>Coronavirus Cases</h2>
      <h1 class="text-warning">107,892,434</h1>
      <h2>Deaths</h2>
      <h1 class="text-danger">2,365,993</h1>
      <h2>Recovered</h2>
      <h1 class="text-success">79,914,319</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center border-top pt-2">
      <h2>Stats by Country</h2>
    </div>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Country</th>
          <th scope="col">Total Cases</th>
          <th scope="col">New Cases</th>
          <th scope="col">Total Deaths</th>
          <th scope="col">New Deaths</th>
          <th scope="col">Total Recovered</th>
          <th scope="col">Active Cases</th>
          <th scope="col">Sirious Cases</th>
          <th scope="col">Tot Cases / 1M pop</th>
          <th scope="col">Deaths / 1M pop</th>
          <th scope="col">Total Tests</th>
          <th scope="col">Tests / 1M pop</th>
          <th scope="col">Population</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>USA</td>
          <td>27,897,214</td>
          <td>483,200</td>
          <td>17,827,323</td>
          <td>9,586,691</td>
          <td>21,018</td>
          <td>83,979</td>
          <td>1,455</td>
          <td>328,475,246</td>
          <td>328,475,246</td>
          <td>328,475,246</td>
          <td>988,808</td>
          <td>332,193,277</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="text-center p-2">
  <p class="m-0">&copy; Dilyorbek Valijonov (drdilyor)</p>
  <p><a href="https://github.com/drdilyor/covid19-dashboard">GitHub</a></p>
</footer>

</body>
</html>
